secrets
.env
project.env
html/whatsapp.thumb.jpg
logs.txt

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Docker overrides
docker-compose.override.yml

# Cache data files
data/*.json
data/*.log
data/update_now





